* { box-sizing: border-box; }


#header {
    width:100%;
    margin-top: 0px;
    padding: 0px;
    text-align: left;
    background: black;
    color: #fff;
}



#company-name {
    background-color: black;
    box-sizing: border-box;
    color: blanchedalmond;
    font-family: Arial;
    text-decoration: none;
    padding: .5em;
    font-size: 1.3em;
    font-weight: bolder;

  
}

#frostimage {
    width: 200px;
    height: 150px;
    object-fit: cover;
    /*try "contain*/
}

nav {
    
    text-align: right;  
}
    

header nav ul li {
    display: inline;
}


ul {
    list-style: none;
    padding: 0;
}


a {
    color: blanchedalmond;
    font-family: Arial;
    text-decoration: none;
    padding: .5em; width: 4em; 
    font-size: 1.3em; 
    font-weight: bolder;
}


#nav_links2 {
    text-align: left;
    text-decoration: none;
}


a:hover { 
    color: brown;
}


body {
    background-color: black;
    font-family: Arial;
    color: blanchedalmond;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
}


p {
    font-size: 1.3em;
}

.column-layout {
    max-width: 1300px;
    background-color:black;
    margin: 20px auto 0 auto;
    padding-top: 0px;
    display: flex;
    flex-direction: column;
}


#portrait {
    height: 400px;
    width: 400px;
}


#portrait-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    padding-top: 40px;
}
    

header {
    display: flex;
    flex-direction:row;
    justify-content: space-between;
    margin-bottom: 10px;
    margin-top: 0px;
}


#main-content {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-top: 325px;
    padding-bottom: 325px;
}

.flex-container {
    /* We first create a flex layout context */
    display: flex;
    
    /* Then we define the flow direction 
       and if we allow the items to wrap 
     * Remember this is the same as:
     * flex-direction: row;
     * flex-wrap: wrap;
     */
    flex-flow: row wrap;
    
    /* Then we define how is distributed the remaining space */
    justify-content: space-around;
    
    padding: 0;
    margin: 0;
    list-style: none;
  }
  
  #sidecolumn-two {
      width: 50%;
  }


  .flex-item {
    background: tomato;
    padding: 5px;
    width: 200px;
    height: 150px;
    margin-top: 10px;
    line-height: 150px;
    color: white;
    font-weight: bold;
    font-size: 1.3em;
    text-align: center;
  }


.flex-item:first-of-type {
    background: none;
}


footer {
    font-size: 1.5em;
    padding-bottom: 325px;
    padding-top: 325px;
    border-top: 10px solid;
    border-top: #221811;
    background-color: #500000;
    color:#CC9933;
    text-align: center;
}


footer a {
    font-size: 1em;
    
}
 @media screen and (max-width: 768px)  {
     main,
     nav {
         flex-direction: column;
     }
 }

